{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia - Add entry: {{ title }}
{% endblock %}

{% block body %}
    <h1>Add Entry: {{ title }}</h1>

    <form action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <div>
        {% for field in form %}
            <div>
                <div>{{ field.label }}</div>
                <div>{{ field }}</div>
            </div>
        {% endfor %}
            <div colspan="2"><input type="submit"></div>
        </div>
    </form>

    <a href="{% url 'index' %}">Home</a>
{% endblock %}